# macOS
.DS_Store
*.swp
*~

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/

# IDE
.idea/

# Secrets - NEVER commit
**/Secrets.swift

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
