<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.903822973379-i4lp42skdeb460uo3od4tvgsc44dudhh</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>903822973379-i4lp42skdeb460uo3od4tvgsc44dudhh.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>Raleway-Regular.ttf</string>
		<string>Raleway-Black.ttf</string>
		<string>Raleway-ExtraBold.ttf</string>
		<string>Raleway-Bold.ttf</string>
		<string>Raleway-SemiBold.ttf</string>
		<string>Raleway-Medium.ttf</string>
		<string>Raleway-Light.ttf</string>
		<string>Raleway-ExtraLight.ttf</string>
		<string>Raleway-Thin.ttf</string>
		<string>CrimsonPro-Regular.ttf</string>
		<string>CrimsonPro-Black.ttf</string>
		<string>CrimsonPro-ExtraBold.ttf</string>
		<string>CrimsonPro-Bold.ttf</string>
		<string>CrimsonPro-SemiBold.ttf</string>
		<string>CrimsonPro-Medium.ttf</string>
		<string>CrimsonPro-Light.ttf</string>
		<string>CrimsonPro-ExtraLight.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Nunito-Black.ttf</string>
		<string>Nunito-ExtraBold.ttf</string>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-SemiBold.ttf</string>
		<string>Nunito-Medium.ttf</string>
		<string>Nunito-Light.ttf</string>
		<string>Nunito-ExtraLight.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>senikita.sirekampolkesyogya.my.id</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string></string>
	</dict>
</dict>
</plist>
